<!-- templates/student_home.html -->
{% extends 'base.html' %}

{% block title %}Student Home{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_student%}
  Welcome {{ user.username }}!
  <p class="button"><a href="{% url 'game' %}">play game</a></p>
  <p class="button"><a href="{% url 'stats' %}">stats</a></p>
  <p class="button"><a href="{% url 'logout' %}">logout</a></p>
  <p class="button"><a href="{% url 'password_reset' %}">reset password</a></p>
{% elif user.is_authenticated and user.is_teacher%}
  Welcome {{ user.username }}!
  <p class="button"><a href="{% url 'studentsignup' %}">create student</a></p>
  <p class="button"><a href="{% url 'teacherstats' %}">teacher stats</a></p>
  <p class="button"><a href="{% url 'logout' %}">logout</a></p>
  <p class="button"><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}