<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome {{ user.username }}!
  <p class="button"><a href="{% url 'game' %}">play game</a></p>
  <p class="button"><a href="{% url 'stats' %}">stats</a></p>
  <p class="button"><a href="{% url 'logout' %}">logout</a></p>
  <p class="button"><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}