<!-- templates/stats.html -->
{% extends 'base.html' %}

{% block title %}Gameplay History{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_student%}
  Hi {{ user.username }}!
  {% if account_info %}
    <table>
      <table align="center">
        <tr>
            <th>user_id</th>
            <th>High Score</th> 
            <th>Addition High Score</th>
            <th>Subtraction High Score</th>
            <th>Recognition High Score</th>
            <th>Highest Level</th>
            <th>Addition Level</th>
            <th>Subtraction Level</th>
            <th>Recognition Level</th>
            <th>Level Highest Score</th>
            <th>Current Score</th>
        </tr>
        {% for account in account_info %}
        <tr>
          <td>{{account.user_id}}</td>
          <td>{{account.highestScore}}</td>
          <td>{{account.addHighestScore}}</td>
          <td>{{account.subHighestScore}}</td>
          <td>{{account.recHighestScore}}</td>
          <td>{{account.highestLevel}}</td>
          <td>{{account.addLevel}}</td>
          <td>{{account.subLevel}}</td>
          <td>{{account.recLevel}}</td>
          <td>{{account.levelHighestScore}}</td>
          <td>{{account.currentScore}}</td>
        </tr>
      {% endfor %}
    </table>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}"><button>home</button></a></p></table></div>
  {% else %}
    <p>No info available.</p>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}"><button>home</button></a></p></div>
  {% endif %}
{% else %}
<div class = "center">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}"><button>login</button></a></div>
{% endif %}
{% endblock %}