<!-- templates/stats.html -->
{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_student%}
  Hi {{ user.username }}!
  {% if account_info %}
    <table>
      <table align="center">
        <tr>
            <th>id</th>
            <th>username</th> 
            <th>is_student</th>
        </tr>
        {% for account in account_info %}
        <tr>
          <td>{{account.id}}</td>
          <td>{{account.username}}</td>
          <td>{{account.is_student}}</td>
        </tr>
      {% endfor %}
    </table>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}">home</a></p></table></div>
  {% else %}
    <p>No info available.</p>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}">home</a></p></div>
  {% endif %}
{% else %}
<div class = "center">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a></div>
{% endif %}
{% endblock %}