<!-- templates/sstudentignup.html -->
{% extends 'base.html' %}

{% block title %}Student Sign Up{% endblock %}

{% block content %}
{%if user.is_authenticated and user.is_teacher%}
  <h2>Student Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
  <a href="{% url 'home' %}"><button>Home</button></a>
{% else %}
  <h1><p>You are not logged in</p></h1>
  <h1><a href="{% url 'login' %}">login</a></h1>
{% endif %}
{% endblock %}