<!-- templates/teacherstats.html -->
{% extends 'base.html' %}

{% block title %}Registered Students{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_teacher%}
  Hi {{ user.username }}!
  <h1><p>Students</p></h1>
  {% if student_list %}
    <table>
      <table align="center">
        <tr>
          <th>username</th>
          <th>user_id</th>
          <th>High Score</th> 
          <th>Addition High Score</th>
          <th>Subtraction High Score</th>
          <th>Recognition High Score</th>
          <th>Highest Level</th>
          <th>Addition Level</th>
          <th>Subtraction Level</th>
          <th>Recognition Level</th>
          <th>Level Highest Score</th>
          <th>Current Score</th>
      </tr>
        {% for student in student_list %}
        <tr>
            <td>{{student.user.username}}</td>
            <td>{{student.user_id}}</td>
            <td>{{student.highestScore}}</td>
            <td>{{student.addHighestScore}}</td>
            <td>{{student.subHighestScore}}</td>
            <td>{{student.recHighestScore}}</td>
            <td>{{student.highestLevel}}</td>
            <td>{{student.addLevel}}</td>
            <td>{{student.subLevel}}</td>
            <td>{{student.recLevel}}</td>
            <td>{{student.levelHighestScore}}</td>
            <td>{{student.currentScore}}</td>
          </tr>
      {% endfor %}
    </table>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}"><button>home</button></a></p></div>
  {% else %}
    <h1><p>No students are available.</p></h1>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}"><button>home</button></a></p></div>
  {% endif %}
{% else %}
  <h1><p>You are not logged in</p></h1>
  <h1><a href="{% url 'login' %}"><button>home</button></a></h1>
{% endif %}
{% endblock %}