<!-- templates/teacherstats.html -->
{% extends 'base.html' %}

{% block title %}Registered Students{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_teacher%}
  Hi {{ user.username }}!
  <h1><p>Students</p></h1>
  {% if student_list %}
    <table>
      <table align="center">
        <tr>
            <th>username</th>
        </tr>
        {% for student in student_list %}
        <tr>
          <td>{{student.username}}</td>
        </tr>
      {% endfor %}
    </table>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}">home</a></p></div>
  {% else %}
    <h1><p>No students are available.</p></h1>
    <div class = "midbottom">
    <p><a href="{% url 'home' %}">home</a></p></div>
  {% endif %}
{% else %}
  <h1><p>You are not logged in</p></h1>
  <h1><a href="{% url 'login' %}">login</a></h1>
{% endif %}
{% endblock %}